@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login { /* Configuração para tablet */
        width: 80vw;
        height: 333px;
    }

    section#login > div#imagem {
        width: 30%;
        height: 100%;
        float: left;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
    }

    div.campo > input {
        background-color: var(--cor2);
        font-size: 1em;
        width: calc(100% - 45px);
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translate(+1px, -15px);
    }

    .campo {
        height: 40px;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
        height: 400px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }

    div.campo > input {
        background-color: var(--cor2);
        font-size: 1em;
        width: calc(100% - 45px);
        height: 100%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
        transform: translate(+1px, -14px);
    }

    .campo {
        height: 40px;
    }
}